@using MasterRad.Models.ViewModels

@{
    ViewData["Title"] = "Templates";
    var actionsModel = new ActionsPartialVM()
    {
        Id = "actions-modal",
        Options = new List<OptionModel>() {
            new OptionModel(){Text = "Name", TargetModalId = "update-name-modal"},
            new OptionModel(){Text = "Description", TargetModalId = "update-description-modal"},
            new OptionModel(){Text = "Model", ActionItemId = "model-url"},
            new OptionModel(){Text = "Data", ActionItemId = "data-url"},
            new OptionModel(){Text = "Create Task", TargetModalId = "create-task-modal"},
            new OptionModel(){Text = "Delete", TargetModalId = "confirm-delete-modal"}
        }
    };

    var nameModel = new NamePartialVM()
    {
        Id = "update-name-modal",
        Title = string.Empty,
        Label = "Name",
        ConfirmButtonText = "Update"
    };

    var descriptionModel = "update-description-modal";

    var createTemplateModel = new NamePartialVM()
    {
        Id = "create-template-modal",
        Title = "Create new template",
        Label = "Name",
        ConfirmButtonText = "Create"
    };

    var createTaskModel = new NamePartialVM()
    {
        Id = "create-task-modal",
        Title = string.Empty,
        Label = "Name",
        ConfirmButtonText = "Create"
    };

    var confirmationModel = new ConfirmationPartialVM()
    {
        Id = "confirm-delete-modal",
        Title = "Confirm delete",
        Text = string.Empty
    };
}

@section Styles {
    <link rel="stylesheet" href="~/css/datatable.css" />
    <link href="~/lib/fontawesome-free-5.13.0-web/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/pagination.css" />
}
<h1>Templates</h1>

<!--Pagination header-->
<table class="table table-bordered fixed" style="margin-bottom: 0px;">
    <thead id="filter-header">
        <tr>
            <th style="width: 25%;">
                <input type="text" class="form-control filter-text-input" placeholder="Name" id="search-first-name" maxlength="50" data-table-key="name">
            </th>
            <th style="width: 25%;"></th>
            <th style="width: 25%;"></th>
            <th style="width: 15%;"></th>
            <th style="width: 10%;">
                <input type="number" id="page-size" class="form-control" min="5" max="25" step="5" value="5" style="width:65px; display:inline" data-toggle="tooltip" data-placement="top" title="Items per page">
            </th>
        </tr>
    </thead>
</table>

<!-- Table content -->
<table class="table table-bordered table-striped fixed wrap-single-long-word">
    <thead class="thead-dark" id="table-header">
        <tr id="database-table">
            <th style="width: 25%">
                <span>Name</span>
                <i class="fa fa-fw fa-sort sort-icon" data-table-key="name"></i>
            </th>
            <th style="width: 25%">
                Description
            </th>
            <th style="width: 25%">Author</th>
            <th style="width: 15%">
                <span>Created on</span>
                <i class="fa fa-fw fa-sort-down sort-icon" data-table-key="date_created"></i>
            </th>
            <th style="width: 10%">
                <button data-toggle="modal" data-target="#create-template-modal" type="button" class="btn btn-primary btn-sm">Create</button>
            </th>
        </tr>
    </thead>
    <tbody id="templates-tbody" />
</table>

<!-- Pagination footer -->
<partial name="../Partials/PaginationFooter.cshtml" />

<!--Create template modal-->
<partial name="../Partials/Modals/Name.cshtml" model="@createTemplateModel" />

<!--Actions modal-->
<partial name="../Partials/Modals/Actions.cshtml" model="@actionsModel" />

<!--Name modal-->
<partial name="../Partials/Modals/Name.cshtml" model="@nameModel" />

<!--Description modal-->
<partial name="../Partials/Modals/Description.cshtml" model="@descriptionModel" />

<!--Create task modal-->
<partial name="../Partials/Modals/Name.cshtml" model="@createTaskModel" />

<!--Confirm Delete modal-->
<partial name="../Partials/Modals/Confirmation.cshtml" model="@confirmationModel" />

@section Scripts {
    <script src="~/js/enums.js" asp-append-version="true"></script>
    <script src="~/js/util.js" asp-append-version="true"></script>
    <script src="~/js/pagination.js" asp-append-version="true"></script>
    <script src="~/js/modals/actionsModal.js" asp-append-version="true"></script>
    <script src="~/js/modals/nameModal.js" asp-append-version="true"></script>
    <script src="~/js/modals/descriptionModal.js" asp-append-version="true"></script>
    <script src="~/js/modals/confirmationModal.js" asp-append-version="true"></script>
    <script src="~/js/templates.js" asp-append-version="true"></script>
}
