@model MasterRad.Models.ViewModels.AnalysisExamVM
@{
    ViewData["Title"] = "Modify Data";
    var failingInputPartialModel = "failing-input";
    var studentOutputPartialModel = "student-output";
    var correctOutputPartialModel = "correct-output";
}

<h1>@(Model.Title)</h1>
<div>
    <input hidden class="uid uid-db" value="@failingInputPartialModel" data-name-on-server="@Model.FailingInputVM.NameOnServer" type="text">
    <input hidden class="uid uid-tb" value="@studentOutputPartialModel" data-name-on-server="@Model.StudentOutputVM.NameOnServer" data-table-name="@Model.StudentOutputVM.TableName" type="text">
    <input hidden class="uid uid-tb" value="@correctOutputPartialModel" data-name-on-server="@Model.CorrectOutputVM.NameOnServer" data-table-name="@Model.CorrectOutputVM.TableName" type="text">
</div>
<br />
<br />

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="taskinfo-tab" data-toggle="tab" href="#taskinfo" role="tab" aria-controls="taskinfo" aria-selected="true">Task info</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">Failing Input</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Query Output</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Correct Output</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="taskinfo" role="tabpanel" aria-labelledby="task-info-tab">
        <br />
        <h5>Database model</h5>
        <p>@Model.ModelDescription</p><br />
        <h5>Synthesis task</h5>
        <p>@Model.TaskDescription</p><br />
        <h5>Solution to evaluate</h5>
        <p>@Model.SqlSolutionForEvaluation</p>
    </div>
    <div class="tab-pane fade show" id="home" role="tabpanel" aria-labelledby="failing-input-tab">
        <br />
        <h5>Provide an input for which the given query will return an incorrect output.</h5>
        <partial name="../Partials/ModifyDatabasePartial.cshtml" model="failingInputPartialModel" />
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="student-output-tab">
        <br />
        <h5>For the given input provide the query output (incorrect output).</h5>
        <br />
        <partial name="../Partials/ModifyTablePartial.cshtml" model="studentOutputPartialModel" />
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="correct-output-tab">
        <br />
        <h5>For the given input provide the correct output.</h5>
        <br />
        <partial name="../Partials/ModifyTablePartial.cshtml" model="correctOutputPartialModel" />
    </div>
</div>

@section Scripts {
    <script src="~/js/modifyDatabasePartial.js" asp-append-version="true"></script>
    <script src="~/js/analysisExam.js" asp-append-version="true"></script>
    <script src="~/js/util.js" asp-append-version="true"></script>

    <script src="~/js/tablesDropdown.js" asp-append-version="true"></script>
}
