@model MasterRad.Models.ViewModels.AssignStudentsVM
@{
    ViewData["Title"] = "Students";
}

@section Styles {
    <link rel="stylesheet" href="~/css/datatable.css" />
}

<h1>Assign students</h1>
<div hidden>
    <input type="text" value="@(Model.TestId)" id="test-id">
    <input type="text" value="@((int)Model.TestType)" id="test-type">
</div>

<br />

<h5>Find students</h5>
<table class="table table-sm">
    <thead>
        <tr>
            <th style="width: 30%; border:none;">
                <input type="text" class="form-control" placeholder="First name" id="search-first-name" maxlength="50">
            </th>
            <th style="width: 30%; border:none;">
                <input type="text" class="form-control" placeholder="Last name" id="search-last-name" maxlength="50">
            </th>
            <th style="width: 30%; border:none;">
                <input type="text" class="form-control" placeholder="Email" id="search-email" maxlength="50">
            </th>
            <th style="width: 10%; border: none;">
                <button onclick="searchStudents()" type="button" class="btn btn-outline-primary">
                    Search
                </button>
            </th>
        </tr>
    </thead>
</table>

<!--Search result-->
<table class="table table-sm table-bordered">
    <thead class="thead-dark">
        <tr>
            <th style="width: 30%">First name</th>
            <th style="width: 30%">Last name</th>
            <th style="width: 30%">Email</th>
            <th style="width: 10%">
                <img src="~/images/azure-logo.png" style="height:25px;" data-toggle="tooltip" data-placement="top" title="Azure Active Directory" />
            </th>
        </tr>
    </thead>
    <tbody id="all-students">
        @if (Model?.StudentSearchRes?.Students != null)
            foreach (var student in Model.StudentSearchRes.Students)
            {
                <tr data-ms-id="@student.MicrosoftId">
                    <td>@student.FirstName</td>
                    <td>@student.LastName</td>
                    <td>@student.Email</td>
                    <td><input type="checkbox"></td>
                </tr>
            }
    </tbody>
</table>
<table class="table table-sm">
    <tr>
        <th style="border:none; float:left;">
            <button id="assign-btn" disabled onclick="assign()" type="button" class="btn btn-outline-primary">Assign</button>
        </th>
        <th style="border:none; float:right; font-weight:400;">
            <input type="number" class="form-control" min="5" max="50" step="5" value="5" style="width:65px;" data-toggle="tooltip" data-placement="top" title="Items per page">
        </th>
        <th style="border:none; float:right; font-weight:400;">
            <nav>
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </th>
    </tr>
</table>

<hr style="margin-top:25px; margin-bottom:20px;">

<!--Assigned students-->
<h5>Assigned students (32)</h5>
<table class="table table-sm table-bordered">
    <thead class="thead-dark">
        <tr>
            <th style="width: 30%">First name</th>
            <th style="width: 30%">Last name</th>
            <th style="width: 30%">Email</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody id="assigned-students"></tbody>
</table>


@section Scripts {
    <script src="~/js/assignStudents.js" asp-append-version="true"></script>
    <script src="~/js/util.js" asp-append-version="true"></script>
}
