@model MasterRad.Models.ViewModels.SynthesisExamVM
@{
    ViewData["Title"] = "Exam";
}

<h1>Synthesis exam</h1>
<div hidden>
    <input type="text" value="@(Model.TestId)" id="test-id">
    <input type="text" value="@(Model.StudentId)" id="student-id">
    <input type="text" value="@(Model.TimeStamp)" id="synthesis-test-student-timestamp">
    <input type="text" value="@(Model.NameOnServer)" id="name-on-server">
</div>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modelDescription">
    Model
</button>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#taskDescription">
    Task
</button>

<!-- Model Description Modal -->
<div class="modal fade" id="modelDescription" tabindex="-1" role="dialog" aria-labelledby="modelDescriptionTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Model description</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="word-wrap: break-word;">
                @(Model.ModelDescription)
            </div>
        </div>
    </div>
</div>

<!-- Task Description Modal -->
<div class="modal fade" id="taskDescription" tabindex="-1" role="dialog" aria-labelledby="taskDescriptionTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Task description</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="word-wrap: break-word;">
                @(Model.TaskDescription)
            </div>
        </div>
    </div>
</div>


<br /><br />
<partial name="../Partials/SqlEditor.cshtml" model="(Model.SqlScript)" />
<button disabled id="save-sln-btn" type="button" class="btn btn-primary" onclick="submitAnswer()">Submit answer</button>

<br /><br />

<div class="table-responsive">
    <table class="table table-sm table-bordered">
        <thead class="thead-dark" id="table-header" />
        <tbody id="table-body" />
    </table>
</div>


@section Styles {
    <link rel="stylesheet" href="~/css/CodeMirror/codemirror-custom.css">
    <link rel="stylesheet" href="~/css/CodeMirror/codemirror.css">
    <link rel="stylesheet" href="~/css/CodeMirror/show-hint.css" />
}

@section Scripts {
    <script src="~/js/synthesisExam.js" asp-append-version="true"></script>
    <script src="~/js/util.js" asp-append-version="true"></script>

    <script src="~/js/sqlEditor.js" asp-append-version="true"></script>
    <script src="~/js/CodeMirror/codemirror.js" asp-append-version="false"></script>
    <script src="~/js/CodeMirror/sql.js" asp-append-version="false"></script>
    <script src="~/js/CodeMirror/show-hint.js" asp-append-version="false"></script>
    <script src="~/js/CodeMirror/sql-hint.js" asp-append-version="false"></script>
    <script src="~/js/CodeMirror/placeholder.js" asp-append-version="false"></script>
}
